.btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 3px #f4c500;
  background-color: #e26b00;
  padding: 1.5vh;
  margin: 2vh;
  height: auto;
  cursor: pointer;
}

.btn:hover {
  background-color: #f4c500;
}

.btn_div {
  padding: 4vh 0 2vh 0;
  height: 100%;
  background-color: #0c163d;
}
